header{
    width: 100%;
    height: 90px;
    background-color:#24262b;
}


nav{
    
    width: 100%;
    height: 90px;
}

.ulis1{
    width: auto;
    float: right;
    margin-top: 2px;
    
}
.lis1{
    display: inline-block;
    padding: 15px 30px;
    text-align: auto;
}

#lk1{
    text-align: center;
    color:#B22222;
    text-decoration: double;
    font-family: 'corbel';
    font-size: 1.7vw;
}



a.ex2:hover, a.ex2:active {
    font-size: 160%;
    color: #B26F22;
    transition-delay: all 0.2s ease-in-out;
    
  }

.d1{
  color: #b42929;
  font-size: 1.5vw;
}






.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}


.bottom-line {
  height: 2px;
  width: 5rem;
  background: #800020;
  display: block;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}


.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .item {
    position: relative;
    background: #005380;
    overflow: hidden;
  }
  .item::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }
  .item:hover::after {
    transform: scale(2) translateX(0%) translateY(0%) rotate(-28deg);
  }
  .item:hover .item-image {
    transform: scale(1.2);
  }
  .item:hover .item-text {
    opacity: 1;
    transform: translateY(0);
  }
  .item-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }
  .item-image::before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }
  .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    line-height: 0;
  }
  .item-text {
    position: absolute;
    top: 110px;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateX(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1) transform
      cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
  }



 .footer_container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #333;
    padding: 50px 0;
  }
  .footer.copy {
    text-align: center;
    color: #fff;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
    position: relative;
  }
  /* .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffbc00;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  } */
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a,
  pre {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #FF2400;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block !important;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center !important;
    line-height: 40px !important;
    border-radius: 50%;
    color: #F5F5DC;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a i {
    text-align: center;
    margin-top: 30%;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #f5f5dc;
  }
  .contact-info {
    color: #fff;
  }
  pre {
    margin-left: -110px !important;
  }
  .bottom-line1 {
    height: 1px;
    width: 4rem;
    background: #800020;
    display: block;
    margin: 0.5rem 0;
  }

@media (max-width: 500px) {
  .footer-col .social-links {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    margin: 1rem 8rem;
  }
  .footer-col .social-links a {
    height: 60px;
    width: 60px;
    margin: 1rem 0.5rem;
    padding: 0.2rem 1rem !important;
    font-size: 2rem;
  }
  .footer-col .social-links a i {
    margin-right: 8rem !important;
    /* margin-top: 0.5rem !important; */
    margin: 0.5rem 2rem 1rem 0rem;
  }
}

   #about-a .about-info {
    display: grid;
    grid-template-areas:
      "bio-img bio bio"
      "aw1 aw2 aw3";
    grid-gap: 1.2rem;
  }
  
  #about-a .bio-image {
    grid-area: bio-img;
  }
  
  #about-a .bio {
    grid-area: bio;
    border-left: 3px solid #ffbc00;
    padding: 0.8rem;
  }
  
  #about-a .award-1 {
    grid-area: aw1;
  }
  
  #about-a .award-2 {
    grid-area: aw2;
  }
  
  #about-a .award-3 {
    grid-area: aw3;
  }
  
  #about-a .award-1 .fas,
  #about-a .award-2 .fas,
  #about-a .award-3 .fas {
    color: #ffbc00;
    margin: 1rem;
  }
  
  #about-b .progress {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
  }
  #about-b .progress div {
    height: 100%;
    color: #fff;
    text-align: center;
    background: #ffbc00;
  }
  #about-d .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
  }
  #about-d .testimonials ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  #about-d .testimonials p {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
  }
  #about-d .testimonials img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  #contact-a .text-fields {
    display: grid;
    grid-template-areas:
      "name email"
      "subject phone"
      "message message";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;
  }
  #contact-a .text-fields .name-input {
    grid-area: name;
  }
  #contact-a .text-fields .name-input {
    grid-area: name;
  }
  #contact-a .text-fields .subject-input {
    grid-area: subject;
  }
  #contact-a .text-fields .enmail-input {
    grid-area: enmail;
  }
  #contact-a .text-fields .phone-input {
    grid-area: phone;
  }
  #contact-a .text-fields .message-input {
    grid-area: message;
    height: 100px;
  }
  #contact-a .text-fields .text-input {
    padding: 0.5rem 1rem;
  }
  
  #contact-a button[type="submit"] {
    width: 50%;
  }
  
  #contact-b .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #contact-c h1 {
    text-align: center;
    font-size: 4rem;
  }