html{
    margin: 0;
    padding: 0;
}



header{
    width: 100%;
    height: 90px;
    background-color:#24262b;
}


nav{

    width: 100%;
    height: 90px;
}

.ulis1{
    width: auto;
    float: right;
    margin-top: 2px;

}
.lis1{
    display: inline-block;
    padding: 15px 30px;
    text-align: auto;
}

#lk1{
    text-align: center;
    color:#B22222;
    text-decoration: double;
    font-family: 'corbel';
    font-size: 1.7vw;
}



a.ex2:hover, a.ex2:active {
    font-size: 160%;
    color: #B26F22;
    transition-delay: all 0.2s ease-in-out;

  }

.d1{
  color: #b42929;
  font-size: 1.5vw;
}

.ss{
    font-family: corbel;
    font-size: 2.0vw;
    text-align: center;
    padding: 250px;
}

.container{
    height: 700px;

    background: url('./Img/hand-painted-watercolor-background-with-sky-clouds-shape.jpg');
    background-repeat: no-repeat;
    background-attachment: auto;
    background-size: auto;
}

.container1{
  background-color: gray;
    height: 400px;
    width: auto;
}

.container2{
    height: 200px;
    width: auto;

}

#home2{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;

    font-size: 1.5rem;

    font-weight: bold;
    padding: 5rem 0;
    background: #f4f4f4;
    background: #ccc;

    padding-bottom: 0.4rem;
    margin-top: 0   rem;

    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.sec2{
    display: flex;
    flex-direction:column;
    flex-direction: row;
    text-align: center;
    font-size: 1.1vw;
    flex-shrink: 0;
    font-family: corbel;
    background: #f4f4f4;
    background: #ccc;
    padding-bottom: 0.7rem;
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: repeat(4, 1fr);
}


.fa {
    font-family:var(--fa-style-family,"Font Awesome 6 Free");
    font-weight:var(--fa-style,900)
   }
.spetials{

    display: flex;
    flex-direction:column;
    flex-direction: row;
    text-align: center;
    font-size: 1.5vw;
    flex-shrink: 0;
    font-family: corbel;
    color: #800020;
    padding-bottom: 0.4rem;
    margin-top: 0rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}




.show{


    text-align: center;

    text-decoration: underline;
    font-family: corbel;
    font-size: 2.0vw;
    color: #800020;
}

.show1{
    text-align: center;

    font-family: corbel;
    font-size: 2.0vw;
    color: #800020;
    transition-delay: all 0.2s ease-in-out;
}

.show2{
    text-align: center;
    text-decoration: underline;
    font-family: corbel;
    font-size: 1.5vw;
    color: #800020;
}



.container3{
  text-align: center;
  background-color:#f4f4f4;
  height: 350px;
  width: 100%;
  font-family: corbel;
}
.section-title{
  text-align: center;
}

.bottom-line{
  text-align: center;
}

.lead{
  text-align: center;
}

#home-c .process {
  text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    text-align: center;
  }
  #home-c .process-step {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    background: #800020;
    color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 1rem;
    transition: all 1s;
  }
  #home-c .process-icon {
    border-radius: 100%;
    background: #333;
    color: #fff;
    padding: 2rem;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: relative;
    transition: all 1s;
  }
  #home-c .process-icon:hover {
    background: #800020;
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
  #home-c .process-icon:hover .process.step {
    background: #333;
    color: #fff;
  }


   .footer_container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #333;
    padding: 50px 0;
  }
  .footer.copy {
    text-align: center;
    color: #fff;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
    position: relative;
  }
  /* .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffbc00;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  } */
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a,
  pre {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #FF2400;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block !important;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center !important;
    line-height: 40px !important;
    border-radius: 50%;
    color: #F5F5DC;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a i {
    text-align: center;
    margin-top: 30%;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #f5f5dc;
  }
  .contact-info {
    color: #fff;
  }
  pre {
    margin-left: -110px !important;
  }
  .bottom-line1 {
    height: 1px;
    width: 4rem;
    background: #800020;
    display: block;
    margin: 0.5rem 0;
  }

@media (max-width: 500px) {
  .footer-col .social-links {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    margin: 1rem 8rem;
  }
  .footer-col .social-links a {
    height: 60px;
    width: 60px;
    margin: 1rem 0.5rem;
    padding: 0.2rem 1rem !important;
    font-size: 2rem;
  }
  .footer-col .social-links a i {
    margin-right: 8rem !important;
    /* margin-top: 0.5rem !important; */
    margin: 0.5rem 2rem 1rem 0rem;
  }
}

  #about-a .about-info {
    display: grid;
    grid-template-areas:
      "bio-img bio bio"
      "aw1 aw2 aw3";
    grid-gap: 1.2rem;
  }

  #about-a .bio-image {
    grid-area: bio-img;
  }

  #about-a .bio {
    grid-area: bio;
    border-left: 3px solid #ffbc00;
    padding: 0.8rem;
  }

  #about-a .award-1 {
    grid-area: aw1;
  }

  #about-a .award-2 {
    grid-area: aw2;
  }

  #about-a .award-3 {
    grid-area: aw3;
  }

  #about-a .award-1 .fas,
  #about-a .award-2 .fas,
  #about-a .award-3 .fas {
    color: #800020;
    margin: 1rem;
  }

  #about-b .progress {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
  }
  #about-b .progress div {
    height: 100%;
    color: #fff;
    text-align: center;
    background: #800020;
  }
  #about-d .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
  }
  #about-d .testimonials ul {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  #about-d .testimonials p {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
  }
  #about-d .testimonials img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  #contact-a .text-fields {
    display: grid;
    grid-template-areas:
      "name email"
      "subject phone"
      "message message";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;
  }
  #contact-a .text-fields .name-input {
    grid-area: name;
  }
  #contact-a .text-fields .name-input {
    grid-area: name;
  }
  #contact-a .text-fields .subject-input {
    grid-area: subject;
  }
  #contact-a .text-fields .enmail-input {
    grid-area: enmail;
  }
  #contact-a .text-fields .phone-input {
    grid-area: phone;
  }
  #contact-a .text-fields .message-input {
    grid-area: message;
    height: 100px;
  }
  #contact-a .text-fields .text-input {
    padding: 0.5rem 1rem;
  }

  #contact-a button[type="submit"] {
    width: 50%;
  }

  #contact-b .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #contact-c h1 {
    text-align: center;
    font-size: 4rem;
  }

  /* |||||||||||||||||||||||||||||||BLOG|||||||||||||||||||||||||||||||| */

  .flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
  }
  .flex-items > div {
    padding: 20px;
  }
  /* Flex columns */

  .flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
  }

  .flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .flex-columns .column .column-1,
  .flex-columns .column .column-2 {
    height: 100%;
  }
  .flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
  }

  .flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
  }

  .flex-columns h4 {
    margin-bottom: 10px;
  }
  .flex-columns p {
    margin: 20px 0;
  }


/*---utilies css---*/

.container {
  width: auto;
  height: 300px;
  padding: 250px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.btn-main,
.btn-light,
.btn-dark {
  display: inline-block;
  padding: 0.8rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #800020;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}
button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #800020;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

my-1 {
  margin: 1rem 0;
}

my-2 {
  margin: 2rem 0;
}

my-3 {
  margin: 3rem 0;
}

my-4 {
  margin: 4rem 0;
}

.bottom-line {
  height: 2px;
  width: 5rem;
  background: #800020;
  display: block;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bg-main {
  background: #ffbc00;
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #000;
}

.bg-medium {
  background: #ccc;
  color: #000;
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
  position: relative;
  background: #ffbc00;
  overflow: hidden;
}
.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.item:hover::after {
  transform: scale(2) translateX(0%) translateY(0%) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.2);
}
.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.item-image::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateX(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1) transform
    cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}
.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}
.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}


/*---style css---*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: capitalize;
  text-shadow: #999;
  font-style: italic;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  font-size: 3rem;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
#main-nav ul {
  display: flex;
}
#main-nav ul li {
  padding: 1rem 1.5rem;
}
#main-nav ul a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
#main-nav ul a:hover {
  border-bottom: #ccc;
}
#main-nav ul a.current {
  border-color: #800020;
}

#header-home {
  background: url("img/showcase.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #fff;
}
#header-home .header-content {
  text-align: center;
  padding-top: 20%;
}
#header-home h1 {
  font-size: 4ren;
  line-height: 1.2;
}

#header-inner {
  background: url("img/showcase.jpg") no-repeat 20% 30% / cover;
  height: 5.5rem;
  border-bottom: 3px solid #800020;
}

#hide {
  visibility: hidden;
}
#show {
  text-decoration: underline #800020;
}
#show:hover {
  text-decoration: none;
}
#show:hover + #hide {
  visibility: visible;
  color: #800020;
}
#home-a .spetials {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
#home-a .spetials .fas {
  color: #800020;
  padding-bottom: 0.4rem;
}
#home-b .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#home-b .stats li {
  line-height: 2;
}
#home-b .stats li.sats-title {
  font-size: 1.5rem;
}
#home-b .stats li.stats-number {
  font-size: 2rem;
  font-weight: bold;
}
#home-b .stats div {
  padding: 3rem 0;
}
#home-b .stats div:nth-child(odd) {
  background: #f4f4f4;
}
#home-b .stats div:nth-child(even) {
  background: #ccc;
}
#home-c .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
}
#home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  background: #ffbc00;
  color: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 1rem;
  transition: all 1s;
}
#home-c .process-icon {
  border-radius: 50%;
  background: #333;
  color: #fff;
  padding: 2rem;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: relative;
  transition: all 1s;
}
#home-c .process-icon:hover {
  background: #800020;
  width: 90px;
  height: 90px;
  line-height: 90px;
}
#home-c .process-icon:hover .process.step {
  background: #333;
  color: #fff;
}
.footer_container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}
ul {
  list-style: none;
}
.footer {
  background-color: #333;
  padding: 50px 0;
}
.footer.copy {
  text-align: center;
  color: #fff;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 500;
  position: relative;
}
/* .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffbc00;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
} */
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a,
pre {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #800020;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block !important;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center !important;
  line-height: 40px !important;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a i {
  text-align: center;
  margin-top: 30%;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #800020;
}
.contact-info {
  color: #fff;
}
pre {
  margin-left: -110px !important;
}
.bottom-line1 {
  height: 1px;
  width: 4rem;
  background: #800020;
  display: block;
  margin: 0.5rem 0;
}

#about-a .about-info {
  display: grid;
  grid-template-areas:
    "bio-img bio bio"
    "aw1 aw2 aw3";
  grid-gap: 1.2rem;
}

#about-a .bio-image {
  grid-area: bio-img;
}

#about-a .bio {
  grid-area: bio;
  border-left: 3px solid #ffbc00;
  padding: 0.8rem;
}

#about-a .award-1 {
  grid-area: aw1;
}

#about-a .award-2 {
  grid-area: aw2;
}

#about-a .award-3 {
  grid-area: aw3;
}

#about-a .award-1 .fas,
#about-a .award-2 .fas,
#about-a .award-3 .fas {
  color: #ffbc00;
  margin: 1rem;
}

#about-b .progress {
  overflow: hidden;
  height: 20px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 0.6rem;
}
#about-b .progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background: #ffbc00;
}
#about-d .testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
#about-d .testimonials ul {
  list-style: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
#about-d .testimonials p {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}
#about-d .testimonials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
#contact-a .text-fields {
  display: grid;
  grid-template-areas:
    "name email"
    "subject phone"
    "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}
#contact-a .text-fields .name-input {
  grid-area: name;
}
#contact-a .text-fields .name-input {
  grid-area: name;
}
#contact-a .text-fields .subject-input {
  grid-area: subject;
}
#contact-a .text-fields .enmail-input {
  grid-area: enmail;
}
#contact-a .text-fields .phone-input {
  grid-area: phone;
}
#contact-a .text-fields .message-input {
  grid-area: message;
  height: 100px;
}
#contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact-a button[type="submit"] {
  width: 50%;
}

#contact-b .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#contact-c h1 {
  text-align: center;
  font-size: 4rem;
}

/* |||||||||||||||||||||||||||||||BLOG|||||||||||||||||||||||||||||||| */

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.flex-items > div {
  padding: 20px;
}
/* Flex columns */

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}
.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}
.flex-columns p {
  margin: 20px 0;
}

/*---media css---*/

@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;
  }
  #main-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #main-nav li {
    padding: 1rem;
  }
  #header-home {
    height: 50rem;
    border-bottom: 3px solid #ffbc00;
    background-position: 20% 30%;
  }
  /* #header-home .header-content {
    display: none;
  } */
  #header-inner {
    height: 30rem;
  }
  #home-a .spetials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }
  #home-a .specials div {
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 1rem;
  }
  #home-a .specials div:last-child {
    border: none;
    padding-bottom: 0;
  }
  #home-b .stats div {
    padding: 2rem 0 1rem 0;
  }
  #about-a .about-info {
    grid-template-areas:
      "bio-img"
      "bio"
      "aw1"
      "aw2"
      "aw3";
  }
  #about-c {
    display: none;
  }
  #contact-a .text-fields {
    grid-template-areas:
      "name"
      "subject"
      "email"
      "phone"
      "message";
  }
  #contact-b div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px #555 solid;
  }
  #contact-b div:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #contact-c h1 {
    font-size: 2rem;
  }

  /* Project|||||||||||||||||| */

  .container1 h5 {
    padding: 50px 10px;
  }
  .project_grid {
    grid-template-columns: repeat(1, 1fr);
    /* grid-row-gap: 3rem; */
  }

  /* #main-footer {
    height: 7rem;
  }
  #main-footer .footer-content {
    flex-direction: column;
    padding: 1rem;
    height: 5rem;
  } */

  /* ||||||||||||||Footer |||||||||||*/

  .row {
    flex-direction: column;
  }
  .footer-col ul li:last-child {
    margin-bottom: 15px;
  }

  .footer-col ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 1rem 4rem;
  }
  .footer-col ul li {
    margin: 0.5rem 1rem !important;
    padding: 0.4rem auto !important;
  }
  .footer-col .social-links {
    display: flex !important;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    margin: 1rem 10rem !important;
  }
  .footer-col .social-links a {
    display: table-cell !important;
    height: 60px;
    width: 60px;
    margin: 1rem 0.5rem;
    padding: 0.6rem 1rem;
    font-size: 2rem;
    text-align: center !important;
  }
  .contact-info {
    margin-left: 3rem;
  }
  .contact-info div a {
    width: 200px;
  }

  .flex-items {
    flex-direction: column;
  }
  .flex-columns .row,
  .flex-columns.flex-reverse .row {
    flex-direction: column;
  }
  .flex-columns .columnn {
    flex: 100%;
    max-width: 100%;
  }
  #contact-b .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }
}
@media (max-height: 580px) {
  #header-home .header-content {
    padding-top: 3rem;
  }
}

@media (max-height: 330px) {
  #header-home .header-content h1 {
    font-size: 2rem;
  }
}
